{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
{% if cart_item %}
<div class="row">
	<aside class="col-lg-9">
<div class="card">
<table class="table table-borderless table-shopping-cart">
<thead class="text-muted">
<tr class="small text-uppercase">
  <th scope="col">Product</th>
  <th scope="col" width="120">Quantity</th>
  <th scope="col" width="120">Price</th>
  <th scope="col" class="text-right" width="200"> </th>
</tr>
</thead>
<tbody>


<tr>
	
	{% for abc in cart_item %}
	<td>
		<figure class="itemside align-items-center">
			<div class="aside"><img src="{{abc.product.photo.url}}" class="img-sm"></div>
			<figcaption class="info">
				<a href="{{ abc.product.get_url}}" class="title text-dark">{{abc.product.product_name}}</a>
				<p class="text-muted small">
					{% if abc.variations.all %}
						{% for item in abc.variations.all %}
							{{item.variation_category|capfirst}}:{{item.variation_value|capfirst}}
							<br>
						{% endfor %}
					{% endif %}
				</p>
			</figcaption>
		</figure>
	</td>
	<td> 
		<!-- col.// -->
					<div class="col"> 
						<div class="input-group input-spinner">
							<div class="input-group-prepend">
							<a href="{% url 'remove_cart' abc.pk abc.product.pk  %}" class="btn btn-light" type="button" id="button-plus"> <i class="fa fa-minus"></i> </a>
							</div>
							<input type="text" class="form-control"  value="{{abc.quantity}}">
							<div class="input-group-append">
							<form action="{% url 'add_cart' abc.product.pk %}" method="POST">
							{% csrf_token %}
							{% for sakura in abc.variations.all %}
								<input type="hidden" name="{{sakura.variation_category|lower}}" value="{{sakura.variation_value|capfirst}}">
							{% endfor %}							
							<button  class="btn btn-light" type="submit" id="button-minus"> <i class="fa fa-plus"></i> </button>
						</form>
						</div>
						</div> <!-- input-group.// -->
					</div> <!-- col.// -->
	</td>
	<td> 
		<div class="price-wrap"> 
			<var class="price">${{abc.sub_total|floatformat:2}}</var> 
			<small class="text-muted"> ${{abc.product.price|floatformat:2}} each</small> 
		</div> <!-- price-wrap .// -->
	</td>
	<td class="text-right"> 
		<a href="{% url 'remove_cart_item' abc.product.id abc.pk %}" onclick="return confirm('Delete this item?')" class="btn btn-danger"> Remove</a>	<!--understand this? because right now there might be same item in each cart item, but different variation, so we need to specify the adapt cart_item id and remove the quantity-->
	</td>
	 
</tr>
{% endfor %}

</tbody>
</table>
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-lg-3">

		<div class="card">
		<div class="card-body">
			<dl class="dlist-align">
			  <dt>Total price:</dt>
			  <dd class="text-right">${{total|floatformat:2}}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Tax:</dt>
			  <dd class="text-right"> ${{tax|floatformat:2}}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Total:</dt>
			  <dd class="text-right text-dark b"><strong>${{grand_total|floatformat:2}}</strong></dd>
			</dl>
			<hr>
			<p class="text-center mb-3">
				<img src="{% static 'home/images/misc/payments.png' %}" height="26">
			</p>
			<a href="./place-order.html" class="btn btn-primary btn-block"> Checkout </a>
			<a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
		</div> <!-- card-body.// -->
		</div> <!-- card.// -->
		{% else %}
		<!--print some messages-->
		<h1 style="color:brown" class="text-center">Your Shopping Cart is Empty</h1>
		<br>
		<div class="text-center">
		<a style="color:red" href="{% url 'store' %}" class="btn btn-warning">Continue Shopping</a>
		</div>
		{% endif %}
</aside> <!-- col.// -->


</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

</div> <!-- container .//  -->
</section>
{% endblock content %}
<!-- ========================= SECTION CONTENT END// ========================= -->
