{% if messages %}

    {% for message in messages %}
    <div id="sampah{{x}}" class="container">
    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">   <!--the message.tags is the success,warning or info,something like this-->
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>   <!--we want alert box can be close manually, we need &times-->
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </div>
</div>
    {% endfor %}

{% endif %}